*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #F309AA;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDFEFE;
    padding: 5px 30px;
    width: 100vw;
}
.logo{
    cursor: pointer;
    height: 70px;
}
.brand-name{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 900;
    font-family: 'Rampart One', cursive;
    color: #D35400;
    cursor: pointer;
    margin-right: auto;
    margin-bottom: 3px;
}
.nav-list{
    list-style: none;
    display: inline-flex;
}
.nav-list li{
    display: inline-block;
    padding: 0 50px;
    text-transform: uppercase;
    font-family: 'Galindo', cursive;
}
.nav-list li a{
    transition: .3s;
    color: #8E44AD;
    font-size: 1.6rem;
    text-decoration: none;
}
.nav-list li a:hover{
    color: #D35400;
}
.btn{
    color: #FDFEFE;
    background-color: #D35400;
    padding: 6px 12px;
    border-radius: 12px;
    font-family: 'Galindo', cursive;
    text-decoration: none;
}
.btn:hover{
    background-color: #000;
    color: #D35400;
    box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 30px #2196f3;
}
.voice{
    text-align: center;
    color: #000;
    margin: 10px;
    font-size: 1rem;
    font-family:'Concert One', cursive;
}
#voiceList{
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    padding: 2px;
    font-family: 'Concert One', cursive;
}
.container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px 20px;
}
.letter{
    padding-top: 75px;
    text-align: center;
    height: 310px;
    width: 360px;
    border-radius: 25px;
    background-color: #2ECC71;
    list-style: none;
    font-size: 7.5rem;
    font-family: 'Concert One', cursive;
    text-transform: uppercase;
    cursor: pointer;
}
.letter:hover{
    transition: .2s;
    background: #7735DA;
    background: -webkit-radial-gradient(center, #7735DA, #18D2DE);
    background: -moz-radial-gradient(center, #7735DA, #18D2DE);
    background: radial-gradient(ellipse at center, #7735DA, #18D2DE);
    color: #fff;
}
.letter25{
    background-color: #fff;
    padding: 20px 210px;
    width: 1500px;
    grid-column-start: 2;
    grid-column-end: 6;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 100%;
    margin-bottom: 0;
    background-color: #F5B7B1;
    border-top: 1px solid #fff;
    width: 100vw;
}
footer h3{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 4%;
    color: #000;
}
.icons{
    margin-top: 2px;
    text-align: center;
}
.fab{
    margin: 0px 15px;
}
.fa-instagram, .fa-twitter, .fa-linkedin-in .fa-github{
    padding: 5px;
    border-radius: 18px;
}
.fa-instagram{
    color: #F309AA;
}
.fa-twitter{
    color: #2CB6F2;
}
.fa-linkedin-in{
    color: #0C28ED;
}
.fa-github{
    color: #000;
}
.fa-instagram:hover, .fa-twitter:hover, .fa-linkedin-in:hover, .fa-github:hover{
    background-color: #fff;
    box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 30px #2196f3;
}
